<div class="main">
    <form class="newParcelForm" (ngSubmit)="onAdd()" [formGroup]="createParcelForm">
        <div class="formControl">
            <label for="from">From:</label>
            <select formControlName="sender_details">
                <option value="email">user1@gmail</option>
                <option value="email">user2@gmail</option>
            </select>
        </div>
        <div class="formControl">
            <label for="to">To:</label>
            
            <select formControlName="receiver_details">
                <option value="email">user1@gmail</option>
                <option value="email">user2@gmail</option>
            </select>

        </div>
       
        <div class="formControl">
            <label for="id">Parcel Id:</label>
            <input type="text"  formControlName="parcel_id">
        </div>
        <div class="formControl">
            <label for="description">Description:</label>
            <input type="text"  formControlName="description">
        </div>
        <div class="formControl">
            <label for="weight">Weight:</label>
            <input type="text" formControlName="weight" >
        </div>
        <div class="formControl">
            <label for="status">Status:</label>
            <select formControlName="status">
                <option value="dispatched">Dispatched</option>
                <option value="delivered">Delivered</option>
            </select>
        </div>
        <button type="submit" >ADD PARCEL</button>

    </form>
</div>