<div class="mainContainer">
  <h3>What we offer</h3>
  <div class="grids">
    <div class="left">
      <div class="delivery">
        <div id="top">
            <img src="../../../../assets/rocket-solid.svg" alt="">
            <p class="heading"> Fast and Efficient Delivery</p>
        </div>
        <p class="desc">No mistake, quick service 
            is always for your sake 
            No mistake, quick service 
            is always for your sake
            No mistake, quick service 
            is always for your sake</p>
        
      </div>
      <div class="shipping">
        <div id="top">
            <img src="../../../../assets/globe-solid.svg" alt="">
            <p class="heading"> Countrywide Shipping</p>
        </div>
        <p  class="desc">Your destination is our
            passion. We'll get it there
            Your destination is our
            passion. We'll get it there
            Your destination is our
            passion. We'll get it there</p>
        
      </div>
    </div>
    <div class="right">
      <div class="secured">
        <div id="top">
            <img src="../../../../assets/shield-halved-solid.svg" alt="">
            <p class="heading">Secured Service</p>
        </div>
        <p class="desc">Get your package when 
            you need it most safe.Get your package when 
            you need it most safe.Get your package when 
            you need it most safe.</p>
        
      </div>
      <div class="reliability">
        <div id="top">
            <img src="../../../../assets/award-solid.svg" alt="">
            <p class="heading"> Reliability</p>
        </div>
        <p class="desc">We deliver anything,
            anytime, anywhere.
            We deliver anything,
            anytime, anywhere. We deliver anything,
            anytime, anywhere</p>
        
      </div>
    </div>
  </div>
</div>
