<div class="navContainer" >
     
    <div class="logoDiv">
        <img class="logo" src="../assets/logo.svg" alt="logo">
        <p>SendIT</p>
    </div>
    
    <li class="links">
        <ul><a href="Home" routerLink="/home">Home</a></ul>
        <ul><a href="About Us">About Us</a></ul>
        <ul><a href="Services" >Services</a></ul>
        <ul><a href="Contact" >Contact</a></ul>
    </li>
    <div class="actionsBtns">
        <button class="loginBtn" routerLink="/auth/login"  >LOGIN</button>
        <button class="signupBtn" routerLink="/auth/signup"  >SIGN UP</button>
        
    </div>
    <img class="menu" src="../../../../assets/menu.svg" alt="">
</div>
