<div class="mainContainer" >

  <div class="container" >
     
      <div class="logoDiv">
          <img class="logo" src="../assets/logo.svg" alt="logo">
          <p>TASKIFY</p>
      </div>
      
      <li class="links">
          <ul><a href="Home" routerLink="home">Home</a></ul>
          <ul><a href="About Us">About Us</a></ul>
          <ul><a href="Services">Services</a></ul>
          <ul><a href="Contact">Contact</a></ul>
      </li>
      <div class="actionsBtns">
          <button class="loginBtn"  >LOGIN</button>
          <button class="signupBtn"  >SIGN UP</button>
          
      </div>
  </div>
 
   
</div>
<div class="routerContainer" > 
  <!-- <router-outlet></router-outlet> -->
  
  <app-home></app-home>
  <app-about></app-about>
  <app-services></app-services>
  <app-contact></app-contact>
  
  

</div>

