<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<style>
    *{
        margin: 0;
    }
    .container{
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        padding: 50px;
        gap:20px;
    }
    .image{
        
        height: 100%;
        width: 80%;
        /* height: 50px; */
    }
    .logo {
    height: 100px;
    width: 50px;
    
}
.one{
    height:300px;
}
.two{
    display: flex;
    align-items: center;
    gap: 20px;
}
h3  {
    font-size: 25px;
}
button{
    width:200px;
    height: 40px;
    color: white;
    background-color: #e11584;
    border-radius: 5px;
    outline: none;
    border: none;
}
</style>
<body>
    <div class="container">
        <div class="one"><img class="image" src="https://cdn.pixabay.com/photo/2018/05/02/21/36/transport-3369756__480.jpg" alt=""></div>
        <div class="two"><img class="logo" src="https://cdn.worldvectorlogo.com/logos/aurelia-1.svg" alt="">
        <h3 class="title">SendIT</h3></div>
        <div><p>Hi <%=name%>,</p></div>
        <div style="font-size:20px">You're all ready to start using SendIT delivery </div>
        <div>SendIT will help you send or receive your parcels on time and at the most affordable place</div>
        <div>Did you know that we deliver parcels countrywide?</div>
        <div><button class="button">Get Started</button></div>
    </div>
    
</body>
</html>