<div class="container">
    
    <div class="leftContainer">
        <p class="mainHeading">YOU NAME IT <br> WE DELIVER IT!
        </p>
        <p class="desc">
            Don't worry, our team of ninjas will go out <br> 
            fighting to deliver your package on time. <br>
            Always one step ahead.!
        </p>
        <button class="getStartedBtn" routerLink="/auth/signup">GET STARTED</button>
    </div>
    <div class="rightContainer">
        <img src="../../../../assets/undraw_deliveries_2r4y.svg" alt="">
    </div>

</div>
