<div class="main">
    <form class="newParcelForm">
        <div class="formControl">
            <label for="from">From:</label>
            <input type="text" >
        </div>
        <div class="receiverDetails">
            <label for="to">To:</label>
            <input type="text" >
            <input type="text" placeholder="contact">
            <input type="text" placeholder="email">

        </div>
        <div class="formControl">
            <label for="location">Location:</label>
            <input type="text" >
        </div>
        <div class="formControl">
            <label for="id">Parcel Id:</label>
            <input type="text" >
        </div>
        <div class="formControl">
            <label for="description">Description:</label>
            <input type="text" >
        </div>
        <div class="formControl">
            <label for="weight">Weight:</label>
            <input type="text" >
        </div>
        <div class="formControl">
            <label for="status">Status:</label>
            <select>
                <option value="dispatched">Dispatched</option>
                <option value="delivered">Delivered</option>
            </select>
        </div>
        <button type="submit">UPDATE PARCEL</button>

    </form>
</div>