.main{
    background-color: #06062C;
    color: white;
    padding: 20px;
    border-radius: 20px;
    height: 100%;
}
.newParcelForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input, select{
    height: 35px;
    border-radius: 10px;
    padding: 5px;
}
.formControl{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
   
}
.formControl input , select{
    width: 100%;
}
.receiverDetails{
    display: flex;
    gap: 30px;
    align-items: center;

}
button{
    align-self: center;
    width: 300px;
    height: 40px;
    padding: 5px;
    outline: none;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: #E11584;
}