<div class="main" *ngIf="parcels$ |async as parcels">
    <div *ngIf="parcels.length ;else noParcels" class="parcelsContainer">
   
        <div *ngFor="let parcel of parcels |search:srch |  paginate:{itemsPerPage:4,currentPage:page}  ,let i=index" class="aParcel">
            <p>From:{{parcel.sender_details}}</p>
            <p>To:{{parcel.receiver_details}}</p>
           <p> Pick-up:{{parcel.pick_up}}</p> 
           <p> Destination:{{parcel.destination}}</p> 
            <p>ParcelId:{{parcel.parcel_id}}</p>
            <p>{{parcel.description}}</p>
            <p><i>{{parcel.status}}</i></p>
            <button (click)="viewParcel(parcel.parcel_id)" class="viewBtn">VIEW</button>
            <button  class="deleteBtn" (click)="onDelete(parcel.parcel_id)">DELETE</button>
               
        </div>
    </div>
   
    <pagination-controls class="page" (pageChange)="page =$event"></pagination-controls>
    </div>
   


<ng-template #noParcels>
    <p>No parcels available!!</p>
</ng-template>

