.aParcel{
    /* border: solid 1px #06062c; */
    height: fit-content;
    width: 250px;
    text-align: center;
    padding: 5px;
    /* border-radius: 20px; */
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    
}
.parcelsContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.viewBtn,.deleteBtn{
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    background-color: #06062c;
    color: white;
    padding: 5px;
    margin-left: 20px ;
}
.page{
    align-self: baseline;
}