.aParcel{
    border: solid 1px #06062c;
    height: 300px;
    width: 250px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    
}
.parcelsContainer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.viewBtn,.deleteBtn{
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    background-color: #06062c;
    color: white;
    padding: 5px;
    margin-left: 20px ;
}