<div class="mainContainer">
    <h3>Contact Us</h3>
  <div class="container">
    <div class="left">
        
                
            <form class="contactForm" >
               
                <input type="text" placeholder="Name" formControlName="name">
                <input type="text" placeholder="Email" formControlName="email">
                
                <input type="text" placeholder="Message" formControlName="message">
                <button type="submit" > SUBMIT</button>
          
            </form>     
    </div>
    <div class="right">
        <img src="../../../../assets/contact.svg" alt="">
    </div>
  </div>
</div>
