<div class="main">
    <div class="left">
        <div class="topLeft">
            <!-- <a href="" routerLink="/user/sent-parcels">Dashboard</a> -->
            <a href="" routerLink="/user/sent-parcels">Sent Parcels </a>
            <a href="" routerLink="/user/received-parcels">Received Parcels</a>
            
        </div>
        <div class="bottomLeft">
            <a href="" (click)="logout()">Logout</a>
        </div>
       
        
       

    </div>
    <div class="right">
        <div class="topRight">
            <img  class="menu" src="../../../../assets/menu-black.svg" alt="">
            <div class="search">
                <input type="search" placeholder="search..." [(ngModel)]="searchText"  (input)="onChange()">
            </div>
            <div class="profile">
                <img src="../../../../assets/user-solid.svg" alt="">
                <p>{{name}}</p>
            </div>
        </div>
        <div class="bottomRight">
            <!-- <div class="parcelCategory">
                <button >Sent Parcels</button>
                <button >Received Parcels</button>
            </div> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

