.main{
    background-color: #06062C;
    display: flex;
    height: 700px;
}
.left{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 20%;
    align-items: center;
    padding-top: 20px;
    /* height: 700px; */
    gap: 300px;

    

}
.left a{
    color:white;
    text-decoration: none;
    
}

.topLeft{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.right{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.topRight{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #06062C;
    align-items: center;

}
.search input{
    font-size: large;
    border: none;
    border-radius: 10px;
    background-color: #06062C;
    color: white;
    width: 300px;
    height:40px;
    padding: 2px;
    text-align: center;
    outline: none;

}
.profile{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profile img{
    height: 30px;
}
.bottomRight{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    flex-direction: column;
    background-color: white;
    height: 100%;
    padding: 20px;
    border-bottom: solid 2px #06062C;
    /* padding-left: 20px;
    padding-right: 20px; */

}



.parcelCategory{
    display: flex;
    justify-content: center;
    gap: 300px;
}
.parcelCategory button{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background-color: white;
    border-bottom: solid 2px #06062C;
    color: #06062C;
}