<div class="mainContainer">
    <div class="leftDiv">
        <h3 >About Us</h3>
       
        <p>We permeate the stores with creativity and offer service when <br> 
            and to the degree that the customer wants. Of course it means <br>
            offering all the omni bells and whistles they want ,like in-store <br>
             pick-up. same day delivery and mobile point of sale and all this <br>
              must be done every hour of every day the store is always open</p>
    </div>
    <div class="rightDiv">
        <img src="../../../../assets/about.jpg" alt="">
    </div>

</div>
