div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}
.alert{
    z-index: 100;
    position: fixed;
    top: 20vw;
    width: 60vw;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 3px 8 px rgba(0,0,0,0.5) ();
}