<div class="main" *ngIf="parcel$ | async as parcel">
    <div class="left" >
        <h3>Parcel details</h3>
        <p>Receiver:<i>    {{parcel.receiver_name}}</i> </p>
        <p>Receiver Contact: <i>{{parcel.receiver_contact}}</i></p>
        <p>Sender:  <i>{{parcel.sender_name}}</i></p>
        <p>Sender Contact: <i>{{parcel.sender_contact}}</i></p>
        <p>Pickup:  <i>{{parcel.pick_up}}</i></p>
        <p>Destination:  <i>{{parcel.destination}}</i></p>
        <p>Weight: <i>{{parcel.weight}}</i> Kg</p> 
        <p>Cost:  <i>Ksh  {{parcel.price}}</i> </p>
        <p>Parcel ID:<i>{{parcel.parcel_id}}</i></p> 
        <p>Description:<i>{{parcel.description}}</i></p>
        <p><i>{{parcel.status}}</i></p>
        <div class="actions">
            <button (click)="goUpdate()" class="updateBtn">UPDATE </button>
            <button (click)="goBack()" class="backBtn">BACK</button> 
        </div>
       
    </div>
    <div class="right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63835.211894174674!2d36.91768157114549!3d-0.4398688878134796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18285dfed09e0ebf%3A0x829716f702f65e9e!2sNyeri!5e0!3m2!1sen!2ske!4v1663608703531!5m2!1sen!2ske" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</div>
