<div class="main" *ngIf="parcels$ | async as parcels">
   
    <div *ngIf="parcels.length ; else noParcels" class="parcelsContainer">
        <div *ngFor="let parcel of parcels | search:srch | paginate:{itemsPerPage:4,currentPage:page} ,let i=index" class="aParcel">
        
            
            <p>From: {{parcel.sender_name}}</p>
            <p>Contact:{{parcel.sender_contact}}</p>
            <p>Pick_up:{{parcel.pick_up}}</p>
            <p><i>{{parcel.status}}</i></p>
            <button (click)="viewParcel(parcel.parcel_id)" class="viewBtn">VIEW</button>
            
               
        </div>
        <pagination-controls  class="page" (pageChange)="page =$event"></pagination-controls>
       
    </div>
   
</div>

<ng-template #noParcels>
    <p>No received parcels available!!</p>
</ng-template>
