.main{
    border: solid 2px black;
    padding: 30px;
    display: flex;
    gap: 30px;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-right: solid 2px grey;
    align-items: center;
}
.right{
    width: 50%;
}
button{
    width: 200px;
    height: 40px;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: #E1158E;
    border-radius: 10px;
}